<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="../CSS/MainStyle.css">
<title>Player Page</title>
</head>
<body>
	<h1 th:text="${currentSong.songTitle}">Song Title </h1>
	<div>
		Interpreter:  <p th:text="${currentAlbum.getInterpreter()}"></p>
		Publication Year: <p th:text="${currentAlbum.publicationYear}"></p>
		Genre: <p th:text="${currentSong.genre}"></p> 
		Album: <p th:text="${currentAlbum.title}"></p> 
		<img  th:src="${currentAlbum.coverPath}" alt="Cover">
	</div>
	<br>
	<br>
	<br>
	<div>
		<audio controls>
         <source th:src = "${currentSong.filePath}" type = "audio/mpeg">
      </audio>
	</div>
	
</body>
</html>