<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Playlist page</title>
</head>
<body>

	<table>
		<thead>
			<tr>
				<th>Song</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="s : ${currentSongs}">
				<td>
					<a th:href="@{/GoToPlayerPage(song_ID=${s.id})}" th:text="${s.songTitle}">
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div th: if="${pageIndex} != ${LastPageIndex}">
		<a href="/GetFollowingSongs">Get following songs</a>
	</div>
	
	<div th: if="${pageIndex} != 0">
		<a href="/GetPreviousSongs">Get previous songs</a>
	</div>
	
	<div>
		<h2>Add song to playlist</h2>
		<form action="AddSongToPlaylist" method="POST">
			<select name = "songToAdd">
				<option th:each="s : ${allUserSongs}" th:value="${s.songID}" th:text="${s.songTitle}"></option>
			</select>
			<input type="submit" name="Add Song">
		</form>
	</div>
	

</body>
</html>